html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

.body {
  text-align: center;
}

.structure {
  /* border: 1px solid black; */
  display: grid;
  height: 600px;
  grid-template-columns: 5px 20px 1fr 20px 5px;
  /* 9 columns leg, 7 eq, leg */
  grid-template-rows: 60px repeat(2, 1fr) 20px 100px;
  margin: 10px auto;
  width: 700px;
}

.board {
  /* border: 1px red solid; */
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-self: stretch;
}

.psuedo-board {
  background-color: yellow;
  border: 1px black solid;
  border-radius: 10px;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  position: relative;
  z-index: -1;
}

/* .column {
  align-content: center;
  justify-content: center;
  width: 91.1px;
} */

.above-board {
  /* background-color: grey; */
  border-radius: 50px;
  height: 60px;
  margin: 0px auto;
  width: 60px;
}
.above-board:hover {
  background-color: rgb(240, 165, 165);
}

.legs {
  background-color: blue;
  border: 1px black solid;
}

.legL {
  grid-column: 1 / 3;
  grid-row: 3 / 6;
}
.legR {
  grid-column: 4 / 6;
  grid-row: 3 / 6;
}

.square {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  height: 55px;
  margin: 0px auto;
  width: 55px;
}

.reset {
  background-color: blue;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  height: 20px;
  align-self: flex-end;
  justify-self: center;
  width: 100px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
