html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

.board {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: auto 1fr auto;
}

.psuedo-board {
  background-color: yellow;
}

.above-board {
  background-color: grey;
  height: 30px;
  width: 30px;
}

.square {
  border: 1px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
