html {
  box-sizing: border-box;
  height: 100%;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background: rgb(108, 162, 242);
  background: linear-gradient(
    0deg,
    rgb(87, 133, 201) 0%,
    rgb(70, 110, 170) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.game-title {
  font-family: "Paytone One", sans-serif;
  font-size: 87px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 5px auto 0px;
}

.structure {
  /* border: 1px solid black; */
  display: grid;
  height: 600px;
  grid-template-columns: 5px 20px 1fr 20px 5px;
  /* 9 columns leg, 7 eq, leg */
  grid-template-rows: 60px repeat(2, 1fr) 20px 100px;
  margin: 5px auto;
  width: 700px;
}

.board {
  /* border: 1px red solid; */
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-self: stretch;
}

.psuedo-board {
  background-color: yellow;
  border: 1px black solid;
  border-radius: 10px;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  position: relative;
  z-index: -1;
  box-shadow: 0px 1px 2px #000000;
}

/* .column {
  align-content: center;
  justify-content: center;
  width: 91.1px;
} */

.above-board {
  /* background-color: grey; */
  border-radius: 50px;
  height: 60px;
  margin: 0px auto;
  width: 60px;
}
.above-board:hover {
  background-color: rgb(206, 206, 206);
}

.legs {
  background-color: rgb(134, 186, 247);
  box-shadow: 0px 1px 2px #000000;
  border: 1px black solid;
  border-radius: 5px;
}

.legL {
  grid-column: 1 / 3;
  grid-row: 3 / 6;
}

.legR {
  grid-column: 4 / 6;
  grid-row: 3 / 6;
}

#message {
  color: yellow;
  font-family: "Paytone One", sans-serif;
  font-size: 28px;
  margin: 5px auto 5px;
  text-shadow: 1px 1px 4px #000000;
}

.square {
  background-color: rgb(91, 139, 211);
  border: 1px solid black;
  border-radius: 50%;
  height: 55px;
  margin: 0px auto;
  width: 55px;
  box-shadow: 1px 2px 5px #000000;
}

.reset {
  background-color: rgb(134, 186, 247);
  border-radius: 5px;
  font-size: 10px;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  height: 20px;
  align-self: flex-end;
  justify-self: center;
  width: 80%;
}

.red {
  background-color: red;
  color: red;
}

.black {
  background-color: black;
}

.status-section {
  display: grid;
  justify-content: center;
  height: auto;
  grid-auto-flow: column;
  grid-template-columns: 50%, 50%;
}

.status-section > p {
  color: white;
  margin: 0px 50px 0px;
  text-emphasis-color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 700;
}
