html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

.body {
  text-align: center;
}

.structure {
  /* border: 1px solid black; */
  display: grid;
  height: 600px;
  grid-template-columns: 30px 1fr 30px;
  /* 9 columns leg, 7 eq, leg */
  grid-template-rows: 50px repeat(2, 1fr) 100px;
  margin: 10px auto;
  width: 700px;
}

.board {
  border: 1px red solid;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  grid-template-columns: 20px repeat(7, 2fr) 20px;
  grid-template-rows: auto repeat(2, 1fr) 40px;
  justify-self: stretch;
}

.psuedo-board {
  background-color: yellow;
  grid-column: 1 / 9;
  grid-row: 2 / 4;
  position: relative;
  z-index: -1;
}

.column {
  align-content: center;
  justify-content: center;
  width: 91.1px;
}

.above-board {
  background-color: grey;
  height: 55px;
  width: 55px;
}

.legs {
  background-color: blue;
}

.legL {
  grid-column: 1 / 1;
  grid-row: 3 / 5;
}
.legR {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

.square {
  border: 1px solid black;
  border-radius: 50%;
  height: 55px;
  margin: 10px auto;
  width: 55px;
}

.reset {
  grid-column: 1 / 1;
  grid-row: 3 / 5;
}
